# Ignore everything in the data directory
data/*

# Allow .csv files in the data directory
!data/*.csv

# Ignore everything in the models directory
models/*

# Ignore other common files and directories
venv/
__pycache__/
instance/
logs/
static/uploads/
.vscode/
.idea/


image_loading_errors.log
training_output.log

#Ignore test scripts
cudaTest.py
test_chestxray_dataset.py
testInitialization.py
trainCount.py
check.py