# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and debug files
logs/
*.log

# Flask instance and database files
instance/
db.sqlite3

# System files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
